@import url('https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+3:wght@300;400;900&family=Ubuntu:wght@400;700&display=swap');



body{
    margin:0;
    font-size: 1rem;
    font-family: "Source Sans 3", sans-serif;
    color: #404040;
    text-align: center;
   
}

h1{
    font-size: 2.25rem;
    color: whitesmoke;
    font-weight: 300;
    margin: 0;
}

strong{
    font-weight: 900;
}

h2{
    font-size: 1.31125rem;
    margin: 0;
}

h2 + p{
    color:#F18119;
    text-transform: uppercase;
    font-weight: 900;
    margin-top:0;
}

h1 + p{
    color: #F18119; 
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
}

.top-text{
    color:#F18119;
    text-transform: uppercase;
    font-size: 0.625em;
}

.fine-print{
    font-size: 0.625rem;
    font-weight: 300;
    letter-spacing: 1px;
}

/*Layout*/
.intro{
    background: maroon;
    background-image: url(../images/CleanShot\ 2022-01-29\ at\ 12.31.57@2x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 0.5em 2em ;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 40vh;

}


.top-text{
    order: -1;
}

.main-content{
    padding: 2em 1em;
}

@media (min-width:600px) {

    body{

        font-size: 1.125rem;
        display: flex;


    }

    body .intro, 
    body .main-content{

        width:50%;
        min-height: 100vh;
    }

    h1{
        font-size: 3.5rem;
    }
    h2, h1 + p{
        font-size: 1.75rem;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* .intro{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } */


    }



*{
    box-sizing: border-box;
}